<div id="about-me" class="main-content-wrap">
    <div class="form-container">  
          <form id="contact" name="contactme" action="thank-you" netlify>
            <h3>Leave me a message</h3>
            <h4>I would love to hear from you!</h4>
            <fieldset>
              <input name="name" placeholder="Your name" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
              <input name="email" placeholder="Your Email Address" type="email" tabindex="2" required>
            </fieldset>
            <fieldset>
              <textarea name="message" placeholder="Type your Message Here...." tabindex="5" required></textarea>
            </fieldset>
            <fieldset>
              <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
          </form>
         
          
        </div>
        
</div>
