<%
    // Generate cover image url
    var coverImageUrl;

    if (theme.indexcover) {
        if (is_remote_url(theme.indexcover)) {
            coverImageUrl = theme.indexcover;
        }
        else {
            coverImageUrl = url_for(theme.image_dir+"/"+theme.indexcover);
        }
%>
        <div class="post-header-cover
                    <%= (theme.coverSize ? 'post-header-cover--' + theme.coverSize : '') %>"
             style="background-image:url('<%= coverImageUrl %>');"
             data-behavior="5">
            <% if (typeof theme.coverMeta === "undefined" || theme.coverMeta === 'in') { %>
                <article  class="postShorten container">
                    <div class="postShorten-wrap center">
            
                        <div class="postShorten-header">
                            <h1 class="postShorten-title" itemprop="headline">
                                 Hello, I am <%= config.author %>.
                                
                            </h1>
                        </div>
                        <div class="postShorten-content" itemprop="articleBody">
                            <p class="description">
                                I am from Nepal. I am one of co-founders of <a href="http://www.drwintech.com/leadership-team/"  target="_blank">Drwintech</a> company. As a researcher i have great interest in Machine Learning and Artificial intelligence. In this blog i will cover latest technological advancements, tools and research papers of ML/AI and advanced programming concepts. I've published review article <a href="https://www.hindawi.com/journals/je/2016/9608757/"  target="_blank"> "Routing in Wireless Multimedia Sensor Networks" </a> in year 2016. You can follow my twitter account for latest updates.
                            </p>
                            <p class="about-social">
                                <a href="<%=theme.sidebar["author_links"]["twitter"].url%>?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">Follow </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </p>
                        </div>
                        
                    </div>
                </article>
                
            <% } %>
        </div>
<% } %>